.container {
  width:750px;
  height:400px;
  background-color: rgb(255, 255, 255);
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.windranger-title {
  color: #63c78a;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-left {
  float: left;
  font-family: Lato,sans-serif;
  border-right: 2px solid #86dfa8;
  width: 280px;
  height: 420px;
  margin-right: 30px;
  margin-left: 90px;
  margin-bottom: 20px;
  font-weight: 320;
  color: #63c78a;
}

.content-left-text {
  font-size: 20px;
  font-weight: 50;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #63c78a
}

.content-left-button-box {
  overflow: auto;
  width: 200;
  height: 47;
  position: relative;
}

.content-left-linkButton {
  width: 95px;
  margin-top: 15px;
  background-color: #e2e2e2;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: absolute;
  left: 0px;
  text-align: center;
  white-space: nowrap;  
  color: #63c78a;
  display: block;
  transition-duration: 400ms;
  float: left;
}

/* .content-left-linkButton:hover {
  width: 150px;
  background-color: #63c78a;
  border-color: #63c78a;
  color: #fff;
  transition-duration: 400ms;
} */

/* .content-left-linkButton:hover + .biggerLinkButton {
  width: 150px;
  background-color: #63c78a;
  border-color: #63c78a;
  color: #fff;
  transition-duration: 400ms;
} */

/* .content-left-linkButton:hover + .smallerCancleButton {
  width: 40px;
  background-color: #ec5c57;
  border-color: #ec5c57;
  color: #fff;
  font-size: 7px;
  text-align: center;
  transition-duration: 400ms;
} */

.content-left-cancleButton {
  width: 95px;
  margin-top: 15px;
  margin-left: 10px;
  background-color: #e2e2e2;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: absolute;
  right: 0px;
  text-align: center;
  white-space: nowrap;
  color: #ec5c57;
  display: block;
  transition-duration: 400ms;
  float: left;
}

/* .content-left-cancleButton:hover {
  width: 150px;
  background-color: #ec5c57;
  border-color: #ec5c57;
  color: #fff;
  transition-duration: 400ms;
} */

/* .biggerCancleButton {
  width: 150px;
  background-color: #ec5c57;
  border-color: #ec5c57;
  color: #fff;
  transition-duration: 400ms;
} */
/* #cancle_server:hover ~ button .content-left-button-box button:nth-of-type(1){
  width: 40px;
  background-color: #63c78a;
  border-color: #63c78a;
  color: #fff;
  font-size: 7px;
  text-align: center;
  transition-duration: 400ms;
}

.content-left-cancleButton:hover button:nth-of-type(0){
  width: 40px;
  background-color: #63c78a;
  border-color: #63c78a;
  color: #fff;
  font-size: 7px;
  text-align: center;
  transition-duration: 400ms;
} */

.content-left-addButton {
  width: 200px;
  margin-top: 15px;
  background-color: #e2e2e2;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #63c78a;
  display: block;
  transition-duration: 500ms;
  outline: none;
}

.content-left-addButton:hover {
  background-color: #63c78a;
  border-color: #63c78a;
  color: #fff;
  transition-duration: 500ms;
}

.content-left-input {
  line-height: 20px;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  width: 200px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 2px;
  border-bottom-color: #e2e2e2;
  transition: border-bottom-color 1500ms;
}

.content-left-input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.content-left-input:focus {
  outline: none;
  border-bottom-width: 2px;
  border-bottom-color: #67af76;
}



.content-right {
  float: left;
  width: 300px;
  height: 420px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.content-right-list{
  margin: 0 auto;
  margin-top: 15px;
  clear: both;
  width: 270px;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  margin-bottom: 0;
  padding-left: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-right-list-item {
  height: 35px;
  background-color: #e2e2e2;
  color: #16251c;
  border: 1px solid transparent;
  display: block;
  margin-top: 3px;
  font-size: 18px;
}

.content-right-list-item-text {
  margin-top: 10px;
  margin-left: 20px;
}

.content-right-list-item-interactive {
  border-radius: 5px;
  transform: scale(1);
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.content-right-list-item-interactive:hover {
  background-color: #63c78a;
  color: #ffffff;
  border-color: rgba(3,27,78,.1);
  -webkit-box-shadow: 0 2px 4px rgba(3,27,78,.06);
  box-shadow: 0 2px 4px rgba(3,27,78,.06);
  position: relative;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.1);
  z-index: 201;
}

.content-right-list-item-del {
  float: right;
  cursor: pointer;
  width: 10px;
  height: 8px;
  margin-right: 10px;
}

.server-text {
  margin-bottom: 10px;
  color: #39995e;
}

.add-site-text {
  clear: both;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #39995e;
}

.support-site-text {
  margin-left: 15px;
  color: #39995e;
}

.content-footer {
  clear: both;
  width: 735px;
  height: 80px;
  margin-top: 20px;
}

.content-footer i {
  margin-top: 20px;
}

.footer-link {
  text-decoration: none;
  color: #797979;
  font-family: Lato,sans-serif;
  font-size: 10px;
  margin-left: 325px;
  margin-right: auto;
}

.footer-icon {
  margin-left: auto;
  margin-right: auto;
}
