.my-body {
  width: 300px;
  height: 400px;
}

.button-body {
  width: 200px;
  height: 200px;
}

.switch-button {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: rgb(40, 218, 99);
  color: aliceblue;
  font-size: 2.3em;
  border-radius: 100px;
  text-align: center;
  display: block;
  white-space: nowrap;
  transition-duration: 150ms;
  cursor: pointer;
  font-size: 14px;
}

.switch-button:hover {
  background-color: rgb(141, 219, 167);
}